@model Blog.Database.Models.TblUser

@if (Model != null)
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @Model.Username
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#" onclick="return alert('Coming Soon')">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="Logout">
                    Logout
                </a>
            </li>
        </ul>
    </div>
}
